.header{
  display: flex;
  justify-content: center;
}

.header a{
  background-color: #FFF;
  border-radius: 10px;
  color: #000;
  text-shadow: none;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  width: 100px;
}

.header a:hover{
  background-color: #CCC;
}

.containerPokemon{
  color: #FFF;
  height: 100%;
  margin-top: 80px;
  padding: 10px;
  text-align: center;
  text-shadow: #000 2px 2px 2px;
}

.pokemonName{
  color: #FFF;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: #000 2px 2px 2px;
  text-transform: capitalize;
}

.firstImage{
  width: 200px;
}

.personalStats{
  color: #FFF;
  font-weight: bold;
  text-shadow: #000 2px 2px 2px;
}

.modesContainer{
  display: flex;
  justify-content: center;
  margin: 10px auto;
  max-width: 400px;
}

.modesContainer div{
  font-weight: bold;
  margin: auto;
}

.modesContainer div:nth-child(2){
  border-left: 1px solid #FFF;
}